<h2><%= "Welcome #{current_user.first_name}"%></h2>
<%= button_to "Clock in", create_clock_in_entry_path, class: "btn btn-outline-primary" %>
<%= button_to "Clock out", create_clock_out_entry_path, class: "btn btn-outline-danger" %>
<%= link_to "View timesheet", timesheets_path, class: "btn btn-outline-info"%>
