@import 'bootstrap/dist/css/bootstrap';

.jumbotron {
    background-image: asset-url('daycare');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}