@import 'bootstrap/dist/css/bootstrap';

#jumbotron_index {
    background-image: asset-url('daycare');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

#jumbotron_auth_page{
    background-image: asset-url('child11');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

#div2 {
    margin-top: 20px;
}

#first, #second {
    margin: 5px;
}

#second {
    margin-left: 10px;
}

.btn-lg {
    display: inline-block;
}

h2 {
    margin-top: 10px;
    margin-bottom: 15px;
}

.clock-action {
    margin-bottom: 20px;
}
