<div class="row justify-content-center">
  <div class="col-sm-6">
    <div class="card-group">
        <div class="card text-center">    
            <div class="card-body">
            <h5 class="card-title">93% of customers</h5>
            <p class="card-text">say our childcare app saves time on reporting.</p>
            </div>
        </div>
        <div class="card text-center">   
            <div class="card-body">
            <h5 class="card-title">98% of parents</h5>
            <p class="card-text">say HiMama adds to their overall satisfaction with their child care provider.</p>
            </div>
        </div>
        <div class="card text-center">   
            <div class="card-body">
            <h5 class="card-title">97% of customers</h5>
            <p class="card-text">say our app for daycares makes their programs stand out from others.</p>
            </div>
        </div>
        </div>
    </div>
</div>

